* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}


body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

#v1 {
    display: flex;
    color: white;
    background-image: url(../img/hotel_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 95vh;
    align-items: center !important;
    justify-content: center;
}

#v1 h1 {
    font-size: 95px;
}

#v2 {
    padding-top: 10vh;
    display: flex;
    width: 100%;
    height: 99vh;
    justify-content: center;
    align-items: center !important;
}

#v2-text {
    width: 40vw;
    margin-right: 15vw;
}

#v2-text h1{
    font-size: 70px;
    margin-bottom: 5vh;
}

#v2-text p{
    color: rgba(64, 64, 64, 1);
    font-size: 23px;
    margin-bottom: 5vh;
}

#vd2-image {
    background-image: url(../img/hotel.jpg);
    width: 30vw;
    height: 86vh;
    padding: 10vh;
    background-size: cover;
    background-position: center;
}

#v3 {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 99vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

#v3-text {
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

#v3-text h1{
    font-size: 70px;
    margin-bottom: 5vh;
    margin-right: 3vw;
    white-space: normal; /* Allow text to wrap */
    word-wrap:initial;
}

#v3-text p{
    color: rgba(64, 64, 64, 1);
    font-size: 23px;
    margin-bottom: 5vh;
    margin-left: 3vw;
}

#v4 {
    background-color: rgba(37, 37, 37, 1);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

#v4-text {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

#v4-text h1{
    font-size: 70px;
    margin-bottom: 5vh;
    white-space: normal; /* Allow text to wrap */
    word-wrap:initial;
}

#v4-text p{
    color: aliceblue;
    font-size: 23px;
    margin-bottom: 5vh;
    text-align: center;
    width: 70vw;
}